@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/variables.scss';

.logo {
  height: auto;
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  background-color: $background-color--white;
  box-shadow: $box-shadow;
  cursor: pointer;
}

.logo:hover {
  background-color: $background-color--darkerwhite;
}

